<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">	
        <title>PAGE TITLE</title>
        <!--[if lt IE 9]>
        <script src="/static/js/html5shiv-printshiv.js" media="all"></script><![endif]-->
        <link href="jasmine/jasmine.css" rel="stylesheet" type="text/css"></link>
        <script src="jasmine/jasmine.js" type="text/javascript"></script>
        <script src="jasmine/jasmine-html.js" type="text/javascript"></script>
        <script src="jasmine/console.js" type="text/javascript"></script>
        <script src="jasmine/boot.js" type="text/javascript"></script>
        <script src="dojo/dojo.js"></script>
        <script type='text/javascript'>
          var dojoConfig = {
             async: true, 
             dojoBlankHtmlUrl: '/blank.html',
             packages: [ {
                 name: 'supplementme',
                 location: location.pathname.replace(/http:\/[^/]+$/, '') + '/supplementme'
            } ]};
          require([ 'supplementme/test' ], function(thinger){
                         /*getJasmineRequireObj().console(jasmineRequire, window.jasmine);
                         var options={};
                         options.print = function(msg){console.log(msg)};
                         window.jasmine.getEnv().addReporter(new window.jasmine.ConsoleReporter(options));*/
});
        </script>
        <link href="supplementme/main.css" rel="stylesheet" type="text/css"></link>
        {{#scripts}}
        {{/scripts}}
    </head>
    <body>
        <!-- This is a VERY bare bones version of a HTML5 template! -->
        <h1>Nutrition Tracker</h1>
        <form action="/search">
            <input type='text'>
            <input type='submit'>
        </form>
        <form action="/add_food">
            <input type='text' name='name'>
            <select name='nutrients'>
                {{#nutrients}}
                    <option value={{tag}}>{{name}}</option>
                {{/nutrients}}
            </select>
            <input type='submit'>
        </form>
        <ol>
            {{#query}}
                <li>{{key}}:{{value}}</li>
            {{/query}}
        </ol>
        <div data-dojo-type="supplementme.MealWidget"></div>
    </body>
</html>
