<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">	
        <title>PAGE TITLE</title>
        <!--[if lt IE 9]>
        <script src="/static/js/html5shiv-printshiv.js" media="all"></script><![endif]-->
        <link rel="stylesheet" href="/dojo/dijit/themes/tundra/tundra.css">
        <script type='text/javascript'>
          var dojoConfig = {
             async: true, 
             dojoBlankHtmlUrl: '/blank.html',
             tlmSiblingOfDojo:false,
             packages: [ 
                 {
                     name: 'supplementme',
                     location:  '/supplementme'
                 }]
         };
        </script>
        <script src="/dojo/dojo/dojo.js"></script>
	<script src="/intern/node_modules/dojo/dojo.js"></script>
	<script>
         (function () {
	     var basePath = '/intern'; //location.pathname.replace(/\/+[^\/]*$/, '/'),
	     internConfig = this.__internConfig = {
		 // For users running client.html directly, assume that the base path
		 // is two levels up (the parent of node_modules); this is most common.
		 // Users that need something special should provide an absolute module
		 // path for the config module (e.g. `/path/to/intern/config`) and
		 // then set `baseUrl` correctly in the `loader` configuration object
		 // of the config module
		 baseUrl: '/intern/node_modules', //basePath === '/__intern/' ? '/' : (basePath + '../../'),
		 packages: [
		     { name: 'intern', location: basePath }
		 ],
		 map: {
		     intern: {
			 dojo: 'intern/node_modules/dojo',
			 chai: 'node_modules/chai/chai'
		     },
		     '*': {
			 'intern/dojo': 'intern/node_modules/dojo'
		     }
		 }
	     };

	     require(internConfig, [ 'intern/client' ]);
         })();
	</script>
        <link href="/supplementme/main.css" rel="stylesheet" type="text/css"></link>
        {{#scripts}}
        {{/scripts}}
    </head>
    <body class="tundra">
        <!-- This is a VERY bare bones version of a HTML5 template! -->
        {{{body}}}
    </body>
</html>
