<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">	
        <title>PAGE TITLE</title>
        <!--[if lt IE 9]>
        <script src="/static/js/html5shiv-printshiv.js" media="all"></script><![endif]-->
        <link href="/jasmine/jasmine.css" rel="stylesheet" type="text/css"></link>
        <link rel="stylesheet" href="/dojo/dijit/themes/tundra/tundra.css">
        <script type='text/javascript'>
          var dojoConfig = {
             async: true, 
             dojoBlankHtmlUrl: '/blank.html',
             tlmSiblingOfDojo:false,
             packages: [ {
                 name: 'supplementme',
                 location:  '/supplementme'
            } ]};
        </script>
        <script src="/dojo/dojo/dojo.js"></script>
        <link href="/supplementme/main.css" rel="stylesheet" type="text/css"></link>
        {{#scripts}}
        {{/scripts}}
    </head>
    <body class="tundra">
        <!-- This is a VERY bare bones version of a HTML5 template! -->
        {{{body}}}
    </body>
</html>
