        <h1>Test App</h1>
        <form action="/search">
            <input type='text'>
            <input type='submit'>
        </form>
        <form action="/add_food">
            <input type='text' name='name'>
            <input type='submit'>
        </form>
        <ol>
            {{#query}}
                <li>{{key}}:{{value}}</li>
            {{/query}}
        </ol>
        <div data-dojo-type="supplementme.MealWidget"></div>
