{{#scripts}}
    [{"src": "/supplementme/NutrientWidget_test.js"},
        {"src": "/supplementme/NutrientWidget.js"}]
{{/scripts}}
<h1>NUTRIENT WIDGET</h1>
<div data-dojo-type="supplementme.NutrientWidget"></div>
